@use "variables.scss" as *;

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.fs-small{
    font-size: 13px;
}

.bg-main{
    background-color: $main-color;
}

.text-second{
    color: $second-color !important;
}

.border-card{
    border: 1px solid rgb(226, 223, 223);
}
sup{
    vertical-align: super !important;
    font-size: 7px !important;
}