@use "variables.scss" as *;


.simils{
    figure{
        width: 100%;
        padding-top: 100%; /* Questo crea un'altezza uguale alla larghezza */
        position: relative; /* Importante per posizionare correttamente l'immagine all'interno */
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

@media screen and (max-width:484px){

    

}